<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <app></app>
</div>
<script>
    var bus=new Vue();
    Vue.component("app",{
        template:`
        <div>
        <shangpin></shangpin>
        <gouwuche></gouwuche>
        </div>
        `
    });
    Vue.component("shangpin",{
        template:`
        <div class="col-md-6">
			<h2>商品列表</h2>
			<table class="table table-bordered">
				<thead>
					<th>商品名称</th>
					<th>商品单价</th>
					<th>商品数量</th>
					<th>添加至购物车</th>
				</thead>
				<tbody>
					<tr v-for="(value,index) in goodsList">
						<td>{{value.name}}</td>
						<td>{{value.price}}</td>
						<td>
							<counter v-bind:obj="value" v-on:subEvent="sub(index)" v-on:addEvent="add(index)">
							</counter>
						</td>
						<td>
							<button v-on:click="addObj(index)" class="btn btn-primary">添加购物车</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
        `,
        data:function(){
            return{
                goodsList:[
                    {name:"安踏",price:"350",count:0},
                    {name:"乔丹",price:"450",count:0},
                    {name:"李宁",price:"650",count:0}
                ]
            }
        },
        methods:{
            sub:function(data){
                if(this.goodsList[data].count>0){
                    this.goodsList[data].count--;
                }
            },
            add:function(i){
                this.goodsList[i].count++;
            },
            //克隆（方法一）
            //方法一是一个简单而又方便的方法；它可以在多处使用，减少代码数量。
//            clone:function(obj){
//                var newObj = {};
//                for(var i in obj){
//                    newObj[i] = obj[i];
//                }
//                return newObj;
//            },
            addObj:function(index){
                if(this.goodsList[index].count===0){
                    alert("最少买一个！");
                    return;
                }
                //克隆（方法二）
                //它只能在制定的位置使用，不可能在多处使用。
                var newObj={};
                for(var i in this.goodsList[index]){
                    newObj[i]=this.goodsList[index][i]
                }
//                var newObj = this.clone(this.goodsList[index]);
                bus.$emit("addGoods",newObj);
                this.goodsList[index].count = 0;
            }
        }
    });
    Vue.component("gouwuche",{
        template:`
        <div class="col-md-6">
			<h2>购物车</h2>
			<table class="table table-bordered">
				<thead>
					<th>商品名称</th>
					<th>商品单价</th>
					<th>商品数量</th>
					<th>删除</th>
				</thead>
				<tbody>
					<tr v-for="(value,index) in cartList">
						<td>{{value.name}}</td>
						<td>{{value.price}}</td>
						<td>
							<counter v-bind:obj="value" v-on:subEvent="sub(index)" v-on:addEvent="add(index)"></counter>
						</td>
						<td>
                			<button v-on:click=del(index)>删除</button>
           				</td>
					</tr>
				</tbody>
			</table>
			<button v-on:click="checkout" class="btn btn-success">结账</button>
		</div>
        `,
        mounted:function(){
            var self = this;
            bus.$on("addGoods",function(obj){
                for(var i=0;i<self.cartList.length;i++){
                    if(obj.name===self.cartList[i].name){
                        self.cartList[i].count+=obj.count;
                        return;
                    }
                }
                self.cartList.push(obj);
            })
        },
        data:function(){
            return{
                cartList:[
                    {name:"鸿星尔克",price:"350",count:0},
                    {name:"范思哲男装",price:"750",count:0},
                    {name:"安吉达男士",price:"850",count:0}
                ]
            }
        },
        methods:{
            /*除法*/
            accDiv(arg1,arg2){
                var t1=0,t2=0,r1,r2;
                try{t1=arg1.toString().split(".")[1].length;}catch(e){}
                try{t2=arg2.toString().split(".")[1].length;}catch(e){}
                with(Math){
                    r1=Number(arg1.toString().replace(".",""));
                    r2=Number(arg2.toString().replace(".",""));
                    return accMul((r1/r2),pow(10,t2-t1));
                }
            },

            /*乘法*/
            accMul(arg1,arg2){
                var m=0,s1=arg1.toString(),s2=arg2.toString();
                try{m+=s1.split(".")[1].length;}catch(e){}
                try{m+=s2.split(".")[1].length;}catch(e){}
                return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m);
            },

            /*加法 */
            accAdd(arg1,arg2){
                var r1,r2,m;
                try{r1=arg1.toString().split(".")[1].length;}catch(e){r1=0;}
                try{r2=arg2.toString().split(".")[1].length;}catch(e){r2=0;}
                m=Math.pow(10,Math.max(r1,r2));
                return (arg1*m+arg2*m)/m;
            },


            /*减法 */
            Subtr(arg1,arg2){
                var r1,r2,m,n;
                try{r1=arg1.toString().split(".")[1].length;}catch(e){r1=0;}
                try{r2=arg2.toString().split(".")[1].length;}catch(e){r2=0;}
                m=Math.pow(10,Math.max(r1,r2));
                n=(r1>=r2)?r1:r2;
                return ((arg1*m-arg2*m)/m).toFixed(n);
            },
            del:function(index){
                this.cartList.splice(index,1);
            },
            add:function(i){
                this.cartList[i].count++;
            },
            sub:function(a){
                if(this.cartList[a].count>1){
                    this.cartList[a].count--;
                }
            },
            checkout:function(){
                var sum = 0;
                for(var i=0;i<this.cartList.length;i++){
                    var price = this.cartList[i].price;
                    var num = this.cartList[i].count;
                    //sum += price*num;
                    sum = this.accAdd(this.accMul(price,num),sum);
                }
                alert(`您总计消费 ${sum} 元`);
            }
        }
    });
    Vue.component("counter",{
        props:["obj"],
        template:`
            <div>
                <button v-on:click="sub">-</button>
                <span>{{obj.count}}</span>
                <button v-on:click="add">+</button>
            </div>
        `,
        methods:{
            sub:function(){
                this.$emit("subEvent");
            },
            add:function(){
                this.$emit("addEvent");
            }
        }
    });
    new Vue({
        el:"#app"
})
</script>
</body>
</html>